/*
 * UI reusable components: panels, buttons, inputs...
 */

// White panels
.panel {
  padding: 1.5rem 1.25rem;

  display: flex;
  flex-direction: column;

  background: var(--c-neutral-95);
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(black, 0.2);

  > .heading {
    margin-bottom: 1rem;
  }
}

// Forms and inputs
form {
  display: flex;
  flex-direction: column;

  .control {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
textarea {
  padding: 0.5rem;
  border: 1px solid var(--c-neutral-70);
  border-radius: 5px;
  font-size: 1rem;

  &:focus {
    border: 1px solid var(--c-primary-50);
    outline: none;
  }
}

// Buttons
.btn {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  transition: 0.2s all;

  &--sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }

  $buttons: ('primary', 'secondary', 'danger');
  @each $type in $buttons {
    &--#{$type} {
      background-color: var(--c-#{$type}-50);

      &:hover {
        background-color: var(--c-#{$type}-70);
      }

      &:active {
        background-color: var(--c-#{$type}-30);
      }

      &:focus {
        border: 2px solid var(--c-#{$type}-30);
      }
    }
  }

  &--disabled {
    background-color: var(--c-neutral-50);
    color: var(--c-neutral-70);
  }
}

// Error messages
.error {
  margin-bottom: 1rem;
  padding: 0.7rem 1.2rem;
  background-color: var(--c-danger-90);
  border: 1px solid var(--c-danger-50);
  border-radius: 5px;
  color: var(--c-danger-30);
}

// Modals
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0, 0, 0.5);

  & > .panel {
    width: 100%;
    max-width: 30rem;
  }
}
