/*
 * Various utility classes to help with layout and styling
 */

// Flexbox
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

// Margins
@for $i from 1 through 8 {
  $base-size: 0.5rem;

  $margins: (
    'm': margin,
    'mt': margin-top,
    'mr': margin-right,
    'mb': margin-bottom,
    'ml': margin-left,
  );

  @each $class, $prop in $margins {
    .#{$class}-#{$i} {
      #{$prop}: $i * $base-size;
    }
  }
}

// Capitalizes a word of a group of words
.capitalize {
  text-transform: capitalize;
}
