/*
 * CSS Custom Properties
 */
:root {
  // COLORS
  --c-neutral-10: hsl(0, 0%, 10%);
  --c-neutral-20: hsl(0, 0%, 20%);
  --c-neutral-30: hsl(0, 0%, 30%);
  --c-neutral-40: hsl(0, 0%, 40%);
  --c-neutral-50: hsl(0, 0%, 50%);
  --c-neutral-60: hsl(0, 0%, 60%);
  --c-neutral-70: hsl(0, 0%, 70%);
  --c-neutral-80: hsl(0, 0%, 80%);
  --c-neutral-90: hsl(0, 0%, 90%);
  --c-neutral-95: hsl(0, 0%, 95%);

  --c-primary-30: hsl(205, 100%, 30%);
  --c-primary-50: hsl(205, 80%, 50%);
  --c-primary-70: hsl(205, 100%, 70%);
  --c-primary-90: hsl(205, 100%, 90%);

  --c-secondary-30: hsl(240, 50%, 30%);
  --c-secondary-50: hsl(240, 50%, 50%);
  --c-secondary-70: hsl(240, 60%, 70%);

  --c-danger-30: hsl(0, 75%, 30%);
  --c-danger-50: hsl(0, 75%, 50%);
  --c-danger-60: hsl(0, 80%, 60%);
  --c-danger-70: hsl(0, 100%, 70%);
  --c-danger-90: hsl(0, 100%, 90%);
}
